<section class="container">
  <app-personal-detailes></app-personal-detailes>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="Courses">
      <div class="div-tab">
        <!-- Subject dtailes  -->
        <!--<app-subject-details (sendTitle)="onSendTitle($event)"></app-subject-details>-->
      </div>
    </mat-tab>
    <mat-tab label="Financial" >

      <div class="div-tab">
        <!--<app-financial-details></app-financial-details>-->
      </div>
    </mat-tab>

  </mat-tab-group>
</section>

