<section class="section-class"  >
  <form fxLayout="column" fxLayoutAlign="start center"
        [formGroup]="detailsGroup" (ngSubmit)="onSubmit()">
    <mat-card class="main-card-class" fxFlex="95%" >

      <mat-card-header class="card-header" fxLayout fxLayoutAlign="center">
        <div mat-card-avatar class="personal-header-image"></div>
        <mat-card-title>Add New Student

        </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxFlexAlign="center"  >

        <mat-list  fxLayout fxLayoutAlign="start start">
          <mat-list-item class="list-item" >
            <mat-form-field>
              <input matInput placeholder="First Name"
                     formControlName="firstName">
              <mat-error *ngIf="getFirstName.invalid">{{getErrorFirstName()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item class="list-item" >
            <mat-form-field>
              <input matInput placeholder=" Father Name"
                     formControlName="middleName">
              <mat-error *ngIf="getFatherName.invalid">{{getErrorFatherName()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item class="list-item">
            <mat-form-field>
              <input matInput placeholder="Family Name"
                     formControlName="lastName">
              <mat-error *ngIf="getLastName.invalid">{{getErrorLastName()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
        </mat-list>

        <!-- Second row list -->
        <mat-list  fxLayout fxLayoutAlign="start start">

          <mat-list-item class="list-item">

            <mat-radio-group class="gender-radio-group" formControlName="gender">
              <mat-radio-button class="gender-radio-button" checked value="1">ذكر</mat-radio-button>
              <mat-radio-button class="gender-radio-button"  value="2">انثى</mat-radio-button>
            </mat-radio-group>
            <p style="margin:5px;"> sex : </p>
          </mat-list-item>

          <mat-list-item class="list-item">
            <mat-form-field >
              <input matInput [min]="minDate" [max]="maxDate"
                     formControlName="birthday"
                     [matDatepicker]="picker"
                     placeholder="Birth day">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="getBirthDay.invalid">{{getErrorBirthDay()}}</mat-error>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item class="list-item">
            <mat-form-field >
              <input type="text" placeholder="Father Job"
                     formControlName="fatherJob"
                     matInput [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let job of jobs" [value]="job">
                  {{job}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="getFatherJob.invalid">{{getErrorFatherJob()}}</mat-error>
            </mat-form-field>
          </mat-list-item>


        </mat-list>
        <!--  -->
        <mat-list fxLayout fxLayoutAlign="start start"  >
          <mat-list-item class="list-item" >
            <mat-form-field >
              <mat-select placeholder="Level"
                          formControlName="level" >
                <mat-option value="option">-Choose the level-</mat-option>
                <mat-option *ngFor="let level of levels" value="{{level.n}}">{{level.level}}</mat-option>
              </mat-select>
              <mat-error *ngIf="getLevel.invalid">{{getErrorLevel()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item  class="list-item" >
            <mat-form-field>
              <mat-select placeholder="Phase"
                          formControlName="phase"
              >
                <mat-option> - Choose the phase -</mat-option>
                <mat-option value="1">Primary</mat-option>
                <mat-option value="2">Middle</mat-option>
                <mat-option value="3">High</mat-option>
              </mat-select>
              <mat-error *ngIf="getPhase.invalid">{{getErrorPhase()}}</mat-error>
            </mat-form-field>
          </mat-list-item>

        </mat-list>

      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>
    <!-- Contact Details .............................................................. .. -->

    <mat-card class="card-class" fxFlex="90%" >
      <mat-card-header class="card-header" fxLayout fxLayoutAlign="center">
        <div mat-card-avatar class="contact-header-image"></div>
        <mat-card-title>Add Communication Data</mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxFlexAlign="center center"  >

        <mat-list  fxLayout fxLayoutAlign="end end" formGroupName="contact">

          <mat-list-item class="list-item">
            <mat-form-field >
              <input type="text" placeholder="Street"
                     matInput formControlName="street" [matAutocomplete]="autoStreet">
              <mat-autocomplete #autoStreet="matAutocomplete">
                <mat-option *ngFor="let street of streets" [value]="street">
                  {{street}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="getStreet.invalid">{{getErrorStreet()}}</mat-error>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item  class="list-item" >
            <mat-form-field>
              <mat-select placeholder="City"
                          formControlName="city">
                <mat-option> - Choose the area -</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
              </mat-select>
              <mat-error *ngIf="getCity.invalid">{{getErrorCity()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
        </mat-list>

        <!--  -->
        <mat-list fxLayout fxLayoutAlign="end end" formGroupName="contact" >
          <mat-list-item class="list-item" >
            <mat-form-field >
              <span matPrefix>059 &nbsp;</span>
              <input type="tel" matInput formControlName="phone2" maxlength="10" minlength="10"
                     placeholder=" Phone2 &nbsp; &nbsp;">
              <mat-icon matSuffix>mobile_friendly</mat-icon>
              <mat-error *ngIf="getPhone2.invalid">{{getErrorPhone2()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item  class="list-item" >
            <mat-form-field>
              <span matPrefix>059 &nbsp;</span>
              <input type="tel" matInput formControlName="phone1" maxlength="10"
                     placeholder=" Phone1 &nbsp; &nbsp;">
              <mat-icon matSuffix>mobile_friendly</mat-icon>
              <mat-error *ngIf="getPhone1.invalid">{{getErrorPhone1()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item class="list-item" >
            <mat-form-field >
              <input type="email" formControlName="email"
                     matInput placeholder=" الاميل &nbsp; &nbsp; ">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="getEmail.invalid">{{getErrorEmail()}}</mat-error>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions style="padding:40px">
        <button  color="primary" class="actions-button" [disabled]="!detailsGroup.valid"
                 type="submit"  mat-button mat-raised-button >
          <mat-icon >save</mat-icon>&nbsp;save</button>
        <button mat-button mat-raised-button color="accent" (click)="clearAllFields($event)"
                class="actions-button" >
          <mat-icon>clear</mat-icon>&nbsp;clear</button>
      </mat-card-actions>

    </mat-card>
  </form >
</section>

